<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon-96x96.png') }}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
  </head>
  <body>
    <div id="preloader">
      <img
        src="{{ url_for('static', filename='img/logo-video-new.png') }}"
        alt="Logo"
      />
    </div>

    <div class="container" id="main-content">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='img/logo-video-new.png') }}"
          alt="Evolve.ins"
        />
      </div>
      <h1>Enter your Email, to get a free PDF</h1>
      <form action="/send" method="POST">
        <input type="email" name="email" required placeholder="Your email" />
        <button type="submit">Submit</button>
      </form>
      {% if message %}
      <p>{{ message }}</p>
      {% endif %}

      <div class="social-icons">
        <a
          href="https://www.facebook.com/people/Vlad-Tsvihun/pfbid0vEpjXyzBeQpBAc7W9NNAJs4ZDxoYwhWpaeRsZHhJA1X7DqdoVzfSFHJ2cCeQfhe7l/?name=xhp_nt__fb__action__open_user"
          ><img
            src="{{ url_for('static', filename='img/facebook-icon-2.png') }}"
            alt="Facebook"
        /></a>
        <a href="https://www.instagram.com/evolve.ins"
          ><img
            src="{{ url_for('static', filename='img/Instagram-icon.png') }}"
            alt="Instagram"
        /></a>
        <a
          href="https://patreon.com/evolveinspiration?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink"
          ><img
            src="{{ url_for('static', filename='img/patreon-icon.svg') }}"
            alt="Patreon"
        /></a>
        <a href="https://www.youtube.com/@evolveinsp"
          ><img
            src="{{ url_for('static', filename='img/youtube.svg') }}"
            alt="YouTube"
        /></a>
      </div>
    </div>
    <script>
      window.addEventListener("load", function () {
        setTimeout(function () {
          document.getElementById("preloader").style.display = "none";
          document.getElementById("main-content").style.opacity = "1";
        }, 2000);
      });
    </script>
  </body>
</html>
